/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 50px;                 /* задаем ширину кнопки */
    height: 50px;                /* задаем высоту кнопки */
    /*border-radius: 50%;          /* округляем кнопку */
    background: #ffffff;         /* задаем серый цвет кнопки */
    color: rgb(0, 0, 0);                /* задаем белый цвет текста внутри кнопки */
    font-size: 1.5rem;           /* увеличим размер шрифта */
    font-family: 'Raleway', sans-serif; /* сменим шрифт */
    font-weight: 900;
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
    border-color: black;
    border: thick double #000000;           /* отключаем обводку */
  } 
  
  /* hover - это состояние элемента, когда на него наведен курсор */
  .my-btn:hover {
    background: #79afd8; /* при наведение курсора на кнопку, она будет окрашена в серый */
  }
  
  /* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
  .my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
  }
  
  /* селектор для кнопок первостепенных операций */
  .my-btn.primary { 
    background: #3d91ff; /* цвет кнопки оранжевый */
  }

  .my-btn.primary:hover { 
    background: #79afd8; /* цвет кнопки оранжевый */
  }
  
  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #afd6ff; /* цвет кнопки сервый */
  }

  .my-btn.secondary:hover { 
    background: #79afd8; /* цвет кнопки сервый */
  }
  
  /* селектор для кнопки расчета выражения (=) */
  .my-btn.execute { 
    width: 109.5px;          /* сделаем кнопку шире других */
    /*border-radius: 34px;   /* подкорректируем округлость */
    text-align: left;
    padding-left: 13px;
  }
  
  /* селектор для поля вывода результата */
  .result { 
    width: 217px;
    height: 60px;
    margin-bottom: 17px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: rgb(205 225 245); /* цвет можно задавать и таким образом */
    text-align: right;           /* примагнитим текст к правой стороне */
    color: #000000;              /* цвет текста белый */
    font-size: 3.2rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }

  .body_color {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
  }

  .body_img {
    background-image: url('photo_2023-10-17_15-00-50.jpg'); 
    background-repeat: repeat;
    background-position: center;
    background-size: 20%;
  }

  .block_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fio {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
  }


  .smena_fona {
    width: 229px;
    background: #ffffff;         /* задаем серый цвет кнопки */
    color: rgb(153, 79, 19);                /* задаем белый цвет текста внутри кнопки */
    font-size: 1.13rem;           /* увеличим размер шрифта */
    font-family: 'Raleway', sans-serif; /* сменим шрифт */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
    border-color: black;
    border: thick double #000000; 
  }   
  .smena_fona:hover {
    background: #dfeeff;
  }
  .smena_fona:active {
    filter: brightness(130%); 
  }

  .spisok {
    width: 229px;
    background: #ffffff;         /* задаем серый цвет кнопки */
    color: rgb(153, 79, 19);                /* задаем белый цвет текста внутри кнопки */
    font-size: 1.13rem;           /* увеличим размер шрифта */
    font-family: 'Raleway', sans-serif; /* сменим шрифт */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
    border-color: black;
    border: thick double #000000;
  }

  .tsel {
    width: 229px;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 14px;
    text-align: justify;
    padding-bottom: 50px
  }